.Login-main{
    display: block;
    width: 90%;
    margin: 14% auto;
    padding: 20px;
}
.login-main{
    /* border: 1px solid red; */
    display: flex;
}
.Login-title{
    margin: 20px auto;
    padding: auto;
    color: #008080;
    font-weight: bold;
    font-family: 'Segeo UI';
    font-size: 24px;
}

.navLink{
    text-decoration: none;
}
.Login-to-Register{
    padding-bottom: 15px;
}
.andriod-border{
    background: #008080;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.Company-main-logo-set{
    display: block;
    width: 70%;
    margin: 80px auto;
    padding:"auto"
}
.Company-logo{
    width: 120px;
    height: 100px;
}
.Logo-name{
    color: #f5f5f5;
}
/* .Logo-png{
    margin-top:40px;
    z-index: -100;
} */
@media screen and (max-width: 924px){
.MuiInputBase-fullWidth{
    width: 85% !important;
}
}

@media screen and (max-width: 800px){
    .MuiInputBase-fullWidth{
        width: 65% !important;
    }
    .submit-login{
        display: flex;
        flex-wrap: wrap;
    }
    }

    
@media screen and (max-width: 600px){
    .MuiInputBase-fullWidth{
        width: 45% !important;
    }
    }